.custom-faq-accordion .ant-collapse-borderless {
  background-color: transparent;
  border-radius: 0;
}

.custom-faq-accordion .ant-collapse-item {
  border-bottom: 1px solid var(--light-gray-tint1);
}

.custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 24px 0;
  align-items: center;
}

.custom-faq-accordion .ant-collapse>.ant-collapse-item:first-child>.ant-collapse-header {
  padding-top: 0;
}

.custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  width: 24px;
  height: 24px;
  justify-content: center;
  padding-inline-end: unset;
  margin-right: 24px;
}

.custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.custom-faq-accordion .ant-collapse-header-text {
  font-family: var(--primary-font);
  font-size: 22px;
  line-height: 1.4;
  color: var(--cod-black);
}

.custom-faq-accordion .ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 12px 0 4.4rem 6.4rem;
}

.collapse-body-text {
  position: relative;
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--dark-gray);
  line-height: 1.2;
  padding-left: 12px;
}

.collapse-body-text::before {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(100% + 10px);
  background-color: var(--primary-blue);
  left: 0;
  top: 0;
}

/* RESPONSIVE START */
@media screen and (max-width: 1429px) {
  .custom-faq-accordion .ant-collapse-header-text {
    font-size: 20px;
  }

  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 20px 0;
  }

  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    margin-right: 22px;
  }
}

@media screen and (max-width: 991px) {
  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    margin-right: 18px;
  }

  .custom-faq-accordion .ant-collapse-header-text {
    font-size: 18px;
  }

  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 16px 0;
  }

  .collapse-body-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 14px 0;
  }

  .custom-faq-accordion .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .custom-faq-accordion .ant-collapse-header-text {
    font-size: 16px;
  }

  .custom-faq-accordion .ant-collapse .ant-collapse-content>.ant-collapse-content-box {
    padding: 8px 0 4.4rem 6.4rem;
  }

  .collapse-body-text {
    font-size: 12px;
  }
}

/* RESPONSIVE END */